* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  position: sticky;
  top: 0;
  z-index: 1;
}

#app__signup {
  margin-top: 10px;
  flex-direction: column;
  display: flex;
}

.app__header__info {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.app__or {
  text-align: center;
  margin: 20px 100px;
  color: grey;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
}
